/*
 * SPDX-License-Identifier: Apache-2.0
 *
 * Add a second USB CDC-ACM instance (`cdc_acm_data`) in addition to the
 * default `cdc_acm_uart`. The default one has console + shell,
 * the new one handles the binary PCAP stream to the Wireshark
 * extcap on the host.
 */

&zephyr_udc0 {
	cdc_acm_data: cdc_acm_data {
		compatible = "zephyr,cdc-acm-uart";
	};
};
